In [1]:
# Loading the Train_data
import pandas as pd

train_data = pd.read_csv(r'C:\Users\lenovo\Desktop\ExcelR\Assingments\Data Science\17. SVM\SVM_SalaryData_Train.csv')
train_data

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
# Data types of train_data
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [3]:
# Label Encoding of the target
from sklearn.preprocessing import LabelEncoder

train_data['Salary'] = LabelEncoder().fit_transform(train_data['Salary'])
train_data

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [4]:
df = pd.get_dummies(train_data.iloc[:,:-1])
df

,age,educationno,capitalgain,capitalloss,hoursperweek,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,13,0,0,13,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,38,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,7,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,13,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,12,0,0,38,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30157,40,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30158,58,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30159,22,9,0,0,20,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30160,52,9,15024,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [5]:
# One Hot Encoding of the features and seggregating features and target
x = pd.get_dummies(train_data.iloc[:,:-1]).values
y = train_data['Salary'].values

In [6]:
# Feature Engineering
from sklearn.tree import DecisionTreeClassifier

# feature extraction
model = DecisionTreeClassifier()
model.fit(x,y)
print(model.feature_importances_)

[1.68966723e-01 1.24647820e-01 1.19103911e-01 4.17167874e-02
 9.73696783e-02 6.84634916e-03 8.68246019e-03 1.34527479e-02
 6.93326339e-03 1.12350344e-02 6.57754655e-03 0.00000000e+00
 7.18322715e-05 5.73726146e-04 3.39375337e-04 2.05500631e-04
 1.24269913e-04 4.34263774e-04 2.24939315e-04 2.11135656e-03
 2.93806673e-03 2.49125029e-03 4.12862914e-04 4.01955793e-03
 4.52099417e-03 0.00000000e+00 7.50023138e-04 4.16081276e-03
 2.70027154e-03 6.52488054e-04 2.15430160e-01 9.01084395e-04
 3.71320024e-03 1.26189931e-03 8.43199067e-04 4.99153507e-03
 0.00000000e+00 8.13344515e-03 1.05599945e-02 3.36838466e-03
 3.64138851e-03 4.76653643e-03 4.60544692e-03 1.37548818e-05
 9.64410381e-03 3.42104872e-03 9.45777899e-03 6.13706640e-03
 6.61270568e-03 3.41684586e-03 4.48038579e-03 1.37342391e-03
 2.17620333e-03 1.91036966e-03 5.92472525e-03 2.07846391e-03
 1.96011137e-03 5.39184919e-03 8.60453027e-04 7.33058897e-03
 5.29079024e-03 4.71129625e-03 6.48377445e-04 1.66522110e-03
 1.77590020e-04 1.15607843e-04 8.66101424e-04 1.16675351e-04
 7.70638180e-05 1.68497302e-04 1.03089873e-03 3.12968963e-04
 1.39874250e-03 5.33172327e-04 3.04873927e-04 5.44939127e-05
 0.00000000e+00 4.30861338e-04 1.20052041e-04 6.46877088e-04
 4.05529870e-04 1.66730563e-04 8.62087522e-04 5.97216527e-04
 1.10417072e-03 1.77598024e-04 4.10133371e-04 0.00000000e+00
 0.00000000e+00 8.59680112e-05 9.92235723e-04 4.03622722e-04
 1.75454768e-04 1.64709038e-04 0.00000000e+00 1.00346838e-03
 1.59670151e-04 1.28378897e-04 1.76839058e-04 7.02270544e-03
 1.85153777e-04 4.38101131e-04]

In [7]:
for i in range(0,101):
    if model.feature_importances_[i] > 0.006:
        print(i,model.feature_importances_[i] )

0 0.16896672282694092
1 0.12464781970336321
2 0.11910391065522076
3 0.04171678740736099
4 0.09736967831409812
5 0.006846349159310195
6 0.008682460187458942
7 0.0134527478740911
8 0.006933263385435611
9 0.011235034393246432
10 0.006577546551936894
30 0.2154301597677235
37 0.008133445148284534
38 0.010559994469844085
44 0.009644103814530416
46 0.009457778987772884
47 0.006137066400883678
48 0.0066127056811017505
59 0.007330588968369947
99 0.0070227054361946956

In [8]:
X_train = pd.concat([df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3],df.iloc[:,4],df.iloc[:,5],df.iloc[:,6],\
                     df.iloc[:,7],df.iloc[:,8],df.iloc[:,9],df.iloc[:,10],df.iloc[:,30],df.iloc[:,37],df.iloc[:,38],\
                    df.iloc[:,44],df.iloc[:,46],df.iloc[:,47],df.iloc[:,48],df.iloc[:,59],df.iloc[:,99]],axis=1)
X_train

,age,educationno,capitalgain,capitalloss,hoursperweek,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,maritalstatus_ Married-civ-spouse,occupation_ Craft-repair,occupation_ Exec-managerial,occupation_ Prof-specialty,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,race_ White,native_ United-States
0,39,13,2174,0,40,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1
1,50,13,0,0,13,0,0,0,0,1,0,1,0,1,0,0,0,0,1,1
2,38,9,0,0,40,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
3,53,7,0,0,40,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1
4,28,13,0,0,40,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,12,0,0,38,0,0,1,0,0,0,1,0,0,0,0,1,0,1,1
30157,40,9,0,0,40,0,0,1,0,0,0,1,0,0,0,0,0,0,1,1
30158,58,9,0,0,40,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
30159,22,9,0,0,20,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1
30160,52,9,15024,0,40,0,0,0,1,0,0,1,0,1,0,0,0,0,1,1

In [9]:
y_train = y

In [10]:
# Loading the test_data
test_data = pd.read_csv(r'C:\Users\lenovo\Desktop\ExcelR\Assingments\Data Science\17. SVM\SVM_SalaryData_Test.csv')

test_data['Salary'] = LabelEncoder().fit_transform(test_data['Salary'])

x_test_data = pd.get_dummies(test_data.iloc[:,:-1])
x_test_data

,age,educationno,capitalgain,capitalloss,hoursperweek,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,25,7,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,50,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,12,0,0,40,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,10,7688,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,34,6,0,0,30,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,13,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15056,39,13,0,0,36,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15057,38,13,0,0,50,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15058,44,13,5455,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15059,35,13,0,0,60,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [11]:
X_test = pd.concat([x_test_data.iloc[:,0],x_test_data.iloc[:,1],x_test_data.iloc[:,2],x_test_data.iloc[:,3],\
                    x_test_data.iloc[:,4],x_test_data.iloc[:,5],x_test_data.iloc[:,6],x_test_data.iloc[:,7],\
                    x_test_data.iloc[:,8],x_test_data.iloc[:,9],x_test_data.iloc[:,10],x_test_data.iloc[:,30],\
                    x_test_data.iloc[:,37],x_test_data.iloc[:,38],x_test_data.iloc[:,42],x_test_data.iloc[:,44],\
                    x_test_data.iloc[:,46],x_test_data.iloc[:,47],x_test_data.iloc[:,59],x_test_data.iloc[:,99]], axis=1)
y_test = test_data['Salary'].values

In [12]:
#Fitting classifier to the Training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train , y_train)

GaussianNB()

In [13]:
prediction = classifier.predict(X_test)
prediction

array([0, 0, 0, ..., 0, 1, 1])

In [14]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, prediction)

In [15]:
confusion_matrix

array([[10738,   622],
       [ 2410,  1290]], dtype=int64)

In [16]:
#calculating the accuracy of this model w.r.t. this dataset
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, prediction))

0.7986719787516601