In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

#### Loading the Data

In [2]:
data = pd.read_csv(r'C:\Users\lenovo\Desktop\ExcelR\Assingments\Data Science\10. Recommendation Systems\book.csv',\
                   encoding='latin1')
data

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [3]:
df = data.iloc[:,1:]
df

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [4]:
df.rename(columns={"User.ID" : "UserId", "Book.Title" : "Book", "Book.Rating" : "Rating"}, inplace=True)
df

      UserId                                               Book  Rating
0     276726                                Classical Mythology       5
1     276729                                       Clara Callan       3
2     276729                               Decision in Normandy       6
3     276736  Flu: The Story of the Great Influenza Pandemic...       8
4     276737                             The Mummies of Urumchi       6
...      ...                                                ...     ...
9995  162121       American Fried: Adventures of a Happy Eater.       7
9996  162121                              Cannibal In Manhattan       9
9997  162121                    How to Flirt: A Practical Guide       7
9998  162121                                           Twilight       8
9999  162129                       Kids Say the Darndest Things       6

[10000 rows x 3 columns]

In [5]:
df.sort_values('UserId')

      UserId                                               Book  Rating
2401       8                                              Wings       5
2400       8  The Western way: A practical guide to the West...       5
2399       8                            Ancient Celtic Romances       5
2402       8                                           Truckers       5
2405       8                                  The Art Of Celtia       7
...      ...                                                ...     ...
2395  278854      La crÃ³nica del PerÃº (CrÃ³nicas de AmÃ©rica)       7
2398  278854  Celtic Mythology (Library of the World's Myths...       8
2393  278854                         A corrente de Trewis Scott       7
2394  278854                                      As valkÃ­rias       7
2397  278854     A Treasury of Irish Myth, Legend, and Folklore       6

[10000 rows x 3 columns]

### Number of unique users in the dataset

In [6]:
len(df.UserId.unique())

2182

### Number of unique books in the dataset

In [7]:
len(df.Book.unique())

9659

In [8]:
book_df = df.pivot_table(index = 'UserId',\
                   columns = 'Book',\
                   values = 'Rating').reset_index(drop=True)
book_df

Book,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
2180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
book_df.index = df.UserId.unique()
book_df

Book,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
276726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
162121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Replace NaN with zero(0) values

In [10]:
book_df.fillna(0, inplace=True)
book_df

Book,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
276726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
162121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Calculating Cosine Similarity between Users

In [11]:
user_sim = 1 - pairwise_distances( book_df.values,metric='cosine')
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

### Storing the data in a dataframe

In [12]:
sim_df = pd.DataFrame(user_sim)
sim_df

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

### Set the index and column names to user ids

In [13]:
sim_df.index = df.UserId.unique()
sim_df.columns = df.UserId.unique()

In [14]:
sim_df

,276726,276729,276736,276737,276744,276745,276747,276748,276751,276754,...,162085,162091,162092,162095,162103,162107,162109,162113,162121,162129
276726,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
162109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
162113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
162121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
162129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [15]:
np.fill_diagonal(user_sim, 0)
sim_df

,276726,276729,276736,276737,276744,276745,276747,276748,276751,276754,...,162085,162091,162092,162095,162103,162107,162109,162113,162121,162129
276726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Similar Users

In [16]:
sim_df.idxmax(axis=1)

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
           ...
162107    276726
162109    276726
162113    161453
162121    276726
162129    276726
Length: 2182, dtype: int64

In [17]:
df[(df['UserId']==276726) | (df['UserId']==162107)]

      UserId                     Book  Rating
0     276726      Classical Mythology       5
9987  162107  What's Bred in the Bone       7

In [18]:
user_1 = df[df['UserId']==276726]
user_2 = df[df['UserId']==276737]

In [19]:
user_1.Book

0    Classical Mythology
Name: Book, dtype: object

In [20]:
user_2.Book

4    The Mummies of Urumchi
Name: Book, dtype: object

In [21]:
pd.merge(user_1,user_2,on='Book',how='outer')

   UserId_x                    Book  Rating_x  UserId_y  Rating_y
0  276726.0     Classical Mythology       5.0       NaN       NaN
1       NaN  The Mummies of Urumchi       NaN  276737.0       6.0

In [22]:
user_3 = df[df['UserId'] == 162113]
user_3.Book

9989    The Cape Ann (Contemporary American Fiction)
Name: Book, dtype: object

In [23]:
user_4 = df[df["UserId"] == 162129]
user_4.Book

9999    Kids Say the Darndest Things
Name: Book, dtype: object

In [24]:
pd.merge(user_4,user_3,on='Book',how='outer')

,UserId_x,Book,Rating_x,UserId_y,Rating_y
0,162129.0,Kids Say the Darndest Things,6.0,NaN,NaN
1,NaN,The Cape Ann (Contemporary American Fiction),NaN,162113.0,8.0

In [25]:
for i in range(0,1000):
    if df.iloc[i,2] == 10 :
        print(i, df.iloc[i,0], df.iloc[i,1])

6 276745 What If?: The World's Foremost Military Historians Imagine What Might Have Been
16 276760 More Cunning Than Man: A Social History of Rats and Man
23 276772 Mary-Kate &amp; Ashley Switching Goals (Mary-Kate and Ashley Starring in)
24 276772 Tell Me This Isn't Happening
34 276788 Sturmzeit. Roman.
41 276808 Pride and Prejudice
42 276811 The Therapeutic Touch: How to Use Your Hands to Help or to Heal
55 276822 Pacific Northwest
57 276822 Getting Well Again
60 276822 LONESOME DOVE
64 276822 The Dragons of Eden: Speculations on the Evolution of Human Intelligence
66 276822 Breathing Lessons
67 276822 The Joy Luck Club
69 276822 The Angel Is Near
74 276835 Seabiscuit
81 276847 Prescription for Terror
85 276847 My First Cousin Once Removed: Money, Madness, and the Family of Robert Lowell
89 276847 Daybreakers Louis Lamour Collection
91 276847 El Senor De Los Anillos: LA Comunidad Del Anillo (Lord of the Rings (Spanish))
100 276847 Prize Stories, 1987: The O'Henry Awards
101 276847 Rich Dad, Poor Dad: What the Rich Teach Their Kids About Money--That the Poor and Middle Class Do Not!
102 276847 The Pillars of the Earth
103 276847 McDonald's: Behind the Arches
104 276847 Creating Wealth : Retire in Ten Years Using Allen's Seven Principles of Wealth!
107 276847 The Five People You Meet in Heaven
108 276847 Tu Nombre Escrito En El Agua (La Sonrisa Vertical)
109 276847 Relics (Star Trek: The Next Generation)
111 276847 The Touch of Your Shadow, the Whisper of Your Name (Babylon 5, Book 5)
124 276859 If Love Were Oil, I'd Be About a Quart Low
125 276859 Goodbye, My Little Ones: The True Story of a Murderous Mother and Five Innocent Victims
130 276861 Care Packages : Letters to Christopher Reeve from Strangers and Other Friends
143 276863 Gangster
161 276872 Wish You Well
191 276896 Haifischfrauen.
192 276904 Die Cappuccino- Jahre. Aus dem Tagebuch des Adrian Mole.
194 276904 QuerschÃ?Â¼sse - Downsize This!
195 276904 Die Korrekturen.
206 276925 Private Screening
223 276925 Only Love (Magical Love)
224 276927 All or Nothing (Wheeler Large Print Books)
228 276928 Patty Jane's House of Curl (Ballantine Reader's Circle)
229 276928 Pet Sematary
230 276928 Silent Snow
231 276929 Girl with a Pearl Earring
238 276929 Tis : A Memoir
250 276929 Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))
254 276929 Night Watch
265 276934 The Wind in the Willows
280 276939 Born Confused
284 276953 Emma (Signet Classics (Paperback))
287 276954 Eva Luna
288 276954 Poisonwood Bible Edition Uk
294 276964 The Enchanted Wood
295 276964 The Folk of the Faraway Tree
296 276964 Angels and Visitations: A Miscellany
297 276964 League of Extraordinary Gentlemen, Vol. 2 (Comic)
304 276964 October Sky: A Memoir
310 276964 Sappho: A New Translation
315 276984 OBJECT AFFECTION
321 276984 A Small Dark Place
322 276984 The Rivan Codex : Ancient Texts of THE BELGARIAD and THE MALLOREON
327 276986 The War in Heaven (Eternal Warriors)
328 276986 Waiting
329 276986 Nowhere To Run
330 276986 Frankenstein (Dover Thrift Editions)
339 276994 Diario de Ana Frank
359 277010 The Ladies of Missalonghi
362 277012 How the Irish Saved Civilization: The Untold Story of Ireland's Heroic Role from the Fall of Rome to the Rise of Medieval Europe (Hinges of History)
367 277028 Proof
372 277036 Lake News
384 277051 Unveiled at Last
385 277051 The Day I Almost Quit
403 277087 Divine Secrets of the Ya-Ya Sisterhood : A Novel
409 277087 Impossible Vacation
418 277087 Black Elk Speaks: Being the Life Story of a Holy Man of the Oglala Sioux
420 277094 The Best in Tent Camping: Smoky Mountains : A Guide for Campers Who Hate Rvs, Concrete Slabs, and Loud Portable Stereos (Best in Tent Camping Colorado)
423 277107 The Journey From Here
424 277107 The Four Agreements: A Practical Guide to Personal Freedom
442 277143 Amorrada al pilÃ³ (Columna)
476 277159 Sarah Conley
488 277171 The Game of Kings (Lymond Chronicles, 1)
492 277179 Selected Poems of Emily Dickinson
504 277195 The Sky Is Falling
505 277195 Santa Pete : A Novel Of Christmas Present And Past
507 277195 The Kingdom: Arabia and the House of Sa'Ud
508 277195 Florida Road Kill: A Novel
509 277195 The 37th Hour
510 277195 Be Cool
511 277195 The Hunted
512 277195 The Saints of Big Harbour: A Novel
513 277195 Old Flames
514 277196 From the Earth: Chinese Vegetarian Cooking
546 277203 Organic Chemistry (Saunders Golden Sunburst Series)
567 277203 In Her Shoes : A Novel
583 277232 Four Blondes
585 277235 Summer Island
592 277244 The Partner
594 277246 Chosen Prey
601 277265 Last Battle
619 277291 The Morning After
637 277358 Burning Water (Burning Water)
645 277367 Daisy Fay and the Miracle Man
672 277427 Dark Lady
674 277427 About Face
683 277427 Why Do Clocks Run Clockwise? and Other Imponderables: Mysteries of Everyday Life Explained
684 277427 Someone to Watch Over Me : Stories
685 277427 Stately Pursuits
689 277427 New Cardiff
703 277427 OLD MAN AND THE SEA
715 277427 Strange Fits of Passion: A Novel
720 277427 Davita's Harp
721 277427 The Book of Lights
725 277427 Le Grand Meaulnes (Classiques De Poche)
727 277427 Pourquoi j'ai mangÃ?Â© mon pÃ?Â¨re
733 277427 La Faute de l'abbÃ?Â© Mouret
734 277427 L'Homme Qui Plantait Des Arbres
735 277427 La Guerre Des Boutons
747 277427 Der Gott der kleinen Dinge.
748 277427 The Da Vinci Code
761 277427 Angel Falls
763 277427 Daddy's Little Girl
767 277427 Dear Stranger, Dearest Friend
769 277427 Lolita (Everyman's Library (Cloth))
770 277427 Message in a Bottle
773 277427 Blue Heaven (Contemporary American Fiction S.)
774 277427 Julie and Romeo
775 277427 The Guardian
776 277427 Nights in Rodanthe
777 277427 Man and Boy
778 277427 One Heart
780 277427 The Two Towers (The Lord of the Rings, Part 2)
781 277427 All of Me: A Voluptuous Tale
782 277427 The Perfect Storm: A True Story of Men Against the Sea
784 277427 In This Mountain
785 277427 All the Pretty Horses (Border Trilogy, Vol 1)
787 277427 He Sees You When You're Sleeping : A Novel
788 277427 2nd Chance
790 277427 The Promise Remains
791 277427 You Cannot Be Serious
795 277427 Voice of the Eagle
807 277427 Therapy
808 277427 Scottish Ghosts
809 277427 Awful End (Eddie Dickens Trilogy S.)
811 277427 George W. Bushisms : The Slate Book of The Accidental Wit and Wisdom of our 43rd President
812 277427 The World's Stupidest Laws
814 277427 The World's Stupidest Signs
815 277427 Nessie: The Loch Ness Monster
816 277427 XIII, tome 13, L'enquÃ?Âªte : the XIII mystery
826 277436 Glasgow Zen
827 277436 Totally Muffins Cookbook (Totally Cookbooks)
828 277436 Tigger's Little Book of Diet and Exercise
829 277436 Eeyore's Little Book of Gloom
841 277462 Return to Isis
851 277471 No Shirt, No Shoes, No Problem!
876 277478 Ufos, JFK and Elvis: Conspiracies You Don't Have to Be Crazy to Believe
877 277478 Hannibal
880 277478 The Thorn Birds (Modern Classics)
882 277478 Sudden Mischief (Spenser Mysteries (Hardcover))
900 277506 The Magician's Nephew (Narnia)
905 277509 Going for Great (Ag Fiction (American Girl))
908 277514 The Secret of the Unicorn (Avalon Web of Magic, 4)
910 277514 Trial by Fire
914 277517 The Hitchhiker's Guide to the Galaxy
916 277519 The Heavenly Man: The Remarkable True Story of Chinese Christian Brother Yun
917 277523 The Little Book of Chocolate (Little Book Of...(Flammarion))
918 277523 Das Schlampenbuch. ErzÃ?Â¤hlungen. ( neue frau).
919 277523 Die zwei Gesichter des Januars.
920 277523 Nacht Ã?Â¼ber den Wassern.
921 277523 Die SÃ?Â¤ulen der Erde. Roman.
922 277523 A Man Rides Through (Man Rides Through)
923 277523 Mirror of Her Dreams (Mordant's Need)
924 277523 Reader
925 277523 The Dead Zone
926 277523 The Diary of Ellen Rimbauer: My Life at Rose Red
927 277523 A New Germany in a New Europe
928 277523 Belonging in the Two Berlins : Kin, State, Nation (Cambridge Studies in Social and Cultural Anthropology)
929 277523 The Great Depression : America 1929-1941
930 277523 Lady of the Shroud
931 277523 Dark Tide I: Onslaught (Star Wars: The New Jedi Order, Book 2)
932 277523 LONG DARK TEA TIME OF THE SOUL
933 277523 The Return of Simple
934 277523 Half Moon Street (Charlotte &amp; Thomas Pitt Novels (Paperback))
935 277523 A Minor Indiscretion (Red Dress Ink (Paperback))
936 277523 For Better, for Worse: A Novel
937 277523 Hidden in Plain View: A Secret Story of Quilts and the Underground Railroad
938 277523 The Forest House
939 277523 American Poetry Since 1970: Up Late
941 277523 West of Dodge: Frontier Stories
943 277527 Non-manipulative selling
944 277527 Come Before Winter and Share My Hope
956 277538 Wall Street's Picks for 2000: An Insider's Guide to the Year's Best Stocks &amp; Mutual Funds (Wall Street's Picks)
960 277548 Moonlighting: 148 Great Ways to Make Money on the Side
965 277556 Guilt
984 277565 Hound of the Baskervilles (Aladdin Classics)
990 277574 Magic House of Numbers.

In [26]:
user_5 = df[df['UserId'] == 277427]

In [27]:
user_6 = df[df['UserId'] == 277514]

In [28]:
pd.merge(user_5,user_6,on='Book',how='outer')

,UserId_x,Book,Rating_x,UserId_y,Rating_y
0,277427.0,Dark Lady,10.0,NaN,NaN
1,277427.0,The Future Scrolls,8.0,NaN,NaN
2,277427.0,About Face,10.0,NaN,NaN
3,277427.0,Tarot Says Beware (A Herculeah Jones Mystery),7.0,NaN,NaN
4,277427.0,Globalhead,9.0,NaN,NaN
...,...,...,...,...,...
148,277427.0,How to Draw Celtic Knotwork: A Practical Handbook,8.0,NaN,NaN
149,277427.0,The Sorcerer's Companion: A Guide to the Magic...,7.0,NaN,NaN
150,NaN,The Secret of the Unicorn (Avalon Web of Magic...,NaN,277514.0,10.0
151,NaN,Avalon: Web Of Magic #5: Spellsinger,NaN,277514.0,7.0
152,NaN,Trial by Fire,NaN,277514.0,10.0