### Loading Libraries

In [1]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from numpy import set_printoptions
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

### Loading Data

In [2]:
dataframe = pd.read_csv(r'C:\Users\lenovo\Desktop\ExcelR\Assingments\Data Science\15.Random Forest\Company_Data.csv')
dataframe

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

#### Converting Target data from Continuous to Categorical type

In [3]:
sale = []
for i in range(0,400):
    if dataframe.iloc[i,0]<=dataframe['Sales'].median():
        sale.append('Low')
    else:
        sale.append('High')

dataframe.iloc[:,0] = sale
dataframe

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,High,138,73,11,276,120,Bad,42,17,Yes,Yes
1,High,111,48,16,260,83,Good,65,10,Yes,Yes
2,High,113,35,10,269,80,Medium,59,12,Yes,Yes
3,Low,117,100,4,466,97,Medium,55,14,Yes,Yes
4,Low,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,High,138,108,17,203,128,Good,33,14,Yes,Yes
396,Low,139,23,3,37,120,Medium,55,11,No,Yes
397,Low,162,26,12,368,159,Medium,40,18,Yes,Yes
398,Low,100,79,7,284,95,Bad,50,12,Yes,Yes
399,High,134,37,0,27,120,Good,49,16,Yes,Yes

#### Label Encoding of the Target Column

In [4]:
dataframe['Sales'] = preprocessing.LabelEncoder().fit_transform(dataframe['Sales'])
dataframe

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,0,138,73,11,276,120,Bad,42,17,Yes,Yes
1,0,111,48,16,260,83,Good,65,10,Yes,Yes
2,0,113,35,10,269,80,Medium,59,12,Yes,Yes
3,1,117,100,4,466,97,Medium,55,14,Yes,Yes
4,1,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,0,138,108,17,203,128,Good,33,14,Yes,Yes
396,1,139,23,3,37,120,Medium,55,11,No,Yes
397,1,162,26,12,368,159,Medium,40,18,Yes,Yes
398,1,100,79,7,284,95,Bad,50,12,Yes,Yes
399,0,134,37,0,27,120,Good,49,16,Yes,Yes

#### Operating with features

In [5]:
# features
fea = dataframe.iloc[:,1:]

# Getting dummy variables for Caterogical columns
fea = pd.get_dummies(fea)
fea

,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc_Bad,ShelveLoc_Good,ShelveLoc_Medium,Urban_No,Urban_Yes,US_No,US_Yes
0,138,73,11,276,120,42,17,1,0,0,0,1,0,1
1,111,48,16,260,83,65,10,0,1,0,0,1,0,1
2,113,35,10,269,80,59,12,0,0,1,0,1,0,1
3,117,100,4,466,97,55,14,0,0,1,0,1,0,1
4,141,64,3,340,128,38,13,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,33,14,0,1,0,0,1,0,1
396,139,23,3,37,120,55,11,0,0,1,1,0,0,1
397,162,26,12,368,159,40,18,0,0,1,0,1,0,1
398,100,79,7,284,95,50,12,1,0,0,0,1,0,1
399,134,37,0,27,120,49,16,0,1,0,0,1,0,1

In [6]:
x = fea.values
y = dataframe['Sales'].values

### Feature Engineering
#### Univariate Feature Selection

In [7]:
test = SelectKBest(score_func=chi2, k=10)
fit = test.fit(x, y)
set_printoptions(precision=3)
print(fit.scores_)

[9.503e-01 6.938e+01 1.688e+02 1.573e+02 2.972e+02 6.846e+01 1.640e-01
 2.352e+01 4.155e+01 6.472e-01 6.253e-01 2.617e-01 5.245e+00 2.887e+00]

In [8]:
features = fit.transform(x)
features.shape

(400, 10)

In [9]:
target = y

### Random Forest of Bagging Ensemble

In [10]:
num_trees = 200
max_features = 10
kfold = KFold(n_splits=10)

In [11]:
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
results = cross_val_score(model, features, target, cv=kfold)
print(results.mean()*100,'%')

82.5 %